  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <i></i>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">👋 Logout</button>
      </a>
      <a href="/profiles">
        <button type="submit">👤 Community</button>
      </a>
      <a href="/meetUps">
        <button type="submit">🤜💗🤛</button>
      </a>
      <a href="/profiles/<%= user.profile._id %>">
        <button type="submit">📓 My Logs</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>

  </nav>
