html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  font-family: 'Maven Pro', sans-serif;
  /* background-color: darkcyan; */
  /* Use a system font, if none are available use an available sans-sarif font */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  margin: 0;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: #595ff8;
}

nav {
  background-color: purple;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  border: 3rem;
  padding-top: 1rem;
  display: block;
}

/* input {
  display: inline-block;
} */

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #595ff8;
}

pre {
  font-size: 1.4rem;
}

nav > a {
  /* text-decoration: none;
  font-size: 2.4rem; */
  text-decoration: none;
  margin: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  margin: 1.6rem 0;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  background-color: transparent;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  font-family: 'Maven Pro', sans-serif;
}

button:hover {
  color:white;
  background-color: #595ff8;
}

@media all and (max-width:30em){
  a.button{
  display:block;
  margin:0.4em auto;
  }
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}